<h1>Category List</h1>

<ul>

<% @categories.each do |category| %>
<%= link_to category.title, category_path(category) %>
<%= link_to "Edit", edit_category_path(category) %>
<%= link_to "Delete", category_path(category), method: :delete %>
<% end %>

</ul>
